<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<description>Spring主配置文件</description>

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:public_system.properties</value>
                <value>classpath:datasource.properties</value>
                <value>classpath:redis.properties</value>
			</list>
		</property>
	</bean>

	<!-- 使用annotation 自动注册bean,并保证@Required,@Autowired, @Service, @Repository注解被注入 -->
	<context:component-scan base-package="com.alpha.elasticsearch, com.alpha.common" use-default-filters="false">
		<!-- 扫描DAO层和Service层/Component的Bean -->
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
	</context:component-scan>

	<!-- 当需要使用CGLIB代理和@AspectJ自动代理支持，需将proxy-target-class更改为"ture"，使用CGLib动态代理 -->
	<aop:aspectj-autoproxy proxy-target-class="true" />

	<import resource="classpath:spring/applicationContext-redis.xml"/>

</beans>
